<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js" integrity="sha512-m2PhLxj2N91eYrIGU2cmIu2d0SkaE4A14bCjVb9zykvp6WtsdriFCiXQ/8Hdj0kssUB/Nz0dMBcoLsJkSCto0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>0sleep_'s fancy inventory website</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">0sleep_</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <p></p>
  <div class="container">
  <div class="wrapper">
    <div class="box inv s0">0</div>
    <div class="box inv s1">1</div>
    <div class="box inv s2">2</div>
    <div class="box inv s3">3</div>
    <div class="box inv s4">4</div>
    <div class="box inv s5">5</div>
    <div class="box inv s6">6</div>
    <div class="box inv s7">7</div>
    <div class="box inv s8">8</div>
    <div class="box inv s9">9</div>
    <div class="box inv s10">10</div>
    <div class="box inv s11">11</div>
    <div class="box inv s12">12</div>
    <div class="box inv s13">13</div>
    <div class="box inv s14">14</div>
    <div class="box inv s15">15</div>
    <div class="box inv s16">16</div>
    <div class="box inv s17">17</div>
    <div class="box inv s18">18</div>
    <div class="box inv s19">19</div>
    <div class="box inv s20">20</div>
    <div class="box inv s21">21</div>
    <div class="box inv s22">22</div>
    <div class="box inv s23">23</div>
    <div class="box inv s24">24</div>
    <div class="box inv s25">25</div>
    <div class="box inv s26">26</div>
    <div class="box inv s27">27</div>
    <div class="box inv s28">28</div>
    <div class="box inv s29">29</div>
    <div class="box inv s30">30</div>
    <div class="box inv s31">31</div>
    <div class="box inv s32">32</div>
    <div class="box inv s33">33</div>
    <div class="box inv s34">34</div>
    <div class="box inv s35">35</div>
    <div class="box inv s100">F</div>
    <div class="box inv s101">L</div>
    <div class="box inv s102">C</div>
    <div class="box inv s103">H</div>
    <div class="box inv s-106">O</div>
    <div class="box model">HI</div>
    <div class="box entryBox">
      <input type="text" id="myText" value="Player Name">
      <button class="waves-effect waves-light btn" onclick="myFunction()">Get Inventory</button>
    </div>
    </div>

  <script src="{{ url_for('static', filename='scripts.js') }}">clearAll();</script>
</body>
</html>
